.search-bar {
  border-radius: 5px;
  border-width: 0.5px;
  border-color: gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-style: solid;
}
.shadow-no-border {
  font-size: 16px;
  width: 500px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 20px;
}
.email-address {
  color: gray;
  font-family: Arial;
  font-size: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.email-input {
  width: 255px;
  border-color: gray;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
}
.privacy-policy {
  margin-top: 10px;
  font-family: Arial;
  font-size: 10px;
  color: gray;
  width: 255px;
}
.agree-button {
  background-color: blue;
  color: white;
  font-size: 10px;
  font-family: Arial;
  text-align: center;
  width: 255px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  border: none;
}
.twitter-dp {
  width: 30px;
  border-radius: 50px;
  vertical-align: middle;
}
.tweet {
  border: none;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5x;
  padding-right: 10px;
  width: 100px;
  vertical-align: middle;
}
.tweet-button {
  border:none;
  border-radius: 20px;
  color: white;
  background-color: rgb(29, 155, 240);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-style: bold;
  font-size: 10px;
  vertical-align: middle;
}
.tweet-bar {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  width: 200px;
  border-radius: 30px;
  margin-top: 20px;
}